*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    font-family: gilroy;
}

.main{
    height: 100%;
    width: 100%;
    background: linear-gradient(to right,#fff, red);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.button{
    display: flex;
    gap: 3vw;
    margin-bottom: 2vw;
}

.myButton{
    padding: .5vw 1vw;
    background-color: white;
    border-radius: 25px;
    border: none;
}

.myButton2{
    padding: .5vw 1vw;
    background-color: red;
    border-radius: 25px;
    border: none;
}

.copyText{
    width: 20%;
    background-color: #ffffff25;
    padding: 1vw 1.5vw;
    border-radius: 10px;
    border-left: 2px solid #fff;
    
}